<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plano de Aula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_formulario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
</head>
<body>
    <div class="conteiner">
        
        <nav>
            <div class="img">
                <img src="static/img/planlab logo branco p.png" alt="">   
            </div>
            <ul class="side-itens">
                <li class="side-item-box">
                    <a href="{{ url_for('index') }}">
                        <img src="static/img/MaterialSymbolsHomeOutlineRounded.png" alt="">
                        <span>Home</span>
                    </a>
                </li>
                <li class="side-item-box active">
                    <a href="{{ url_for('planos_de_aula') }}">
                        <img src="static/img/MaterialSymbolsContractEditOutlineRounded.png" alt="">
                        <span>Planos de Aula</span>
                    </a>
                </li>
                <li class="side-item-box">
                    <a href="">
                        <img src="static/img/MaterialSymbolscadenetaToAppRounded.png" alt="">
                        <span>Cardeneta</span>
                    </a>
                </li>
                <li class="side-item-box">
                    <a href="">
                        <img src="static/img/MaterialSymbolsExitToAppRounded.png" alt="">
                        <span>Sair</span>
                    </a>
                </li>
            </ul>

        </nav>

        <header>
            <div class="usuario">
                <img src="https://randomuser.me/api/portraits/women/24.jpg" alt="">
                <div>
                    <strong class="user-nome">Aurora Silva</strong>
                    <div class="cargo"><span>Professor(a)</span></div>
                </div>
                
                
            </div>
        </header>


    <div class="container">
        <h1>Plano de Aula</h1>
        <form method="POST" action="{{ url_for('formulario') }}">
            <h3>Informações Gerais</h3>
            <div class="dados">
                <div class="data">
                    <label for="data">Data da Aula:</label>
                    <input type="date" id="data" name="data_aula" required>
                </div>
                <div class="turma">
                    <label for="turma">Turma:</label>
                    <select id="turma" name="turma" required>
                        <option value="1º Ano">1º Ano</option>
                        <option value="2º Ano">2º Ano</option>
                        <option value="3º Ano">3º Ano</option>
                        <!-- Adicione mais opções de turmas conforme necessário -->
                    </select>
                </div>
                <div class="semestre">
                    <label for="semestre">Semestre:</label>
                    <select id="semestre" name="semestre" required>
                        <option value="1º Semestre">1º</option>
                        <option value="2º Semestre">2º</option>
                        <option value="3º Semestre">3º</option>
                        <!-- Adicione mais opções de turmas conforme necessário -->
                    </select>
                </div>

                <div class="titulo">
                    <label for="titulo">Título da Aula:</label>
                    <input type="text" id="titulo" name="titulo" required>
                </div>
            </div>
            <hr>
            <div class="bloco">
                <h3>Conteúdo Programático</h3>
                <div class="sub-bloco">
                    <label for="conteudo">Conteúdo Programático:</label>
                    <textarea id="conteudo" name="conteudo_programatico" rows="4"></textarea>
                </div>
                <hr>
                <h3>Metodologia</h3>
                <div class="sub-bloco">
                    <label for="metodologia">Metodologia:</label>
                    <textarea id="metodologia" name="metodologia" rows="4"></textarea>
                </div>
                <hr>
                <h3>Recursos Necessários</h3>
                <div class="sub-bloco">
                    <label for="recursos">Recursos Necessários:</label>
                    <textarea id="recursos" name="recursos_necessarios" rows="4"></textarea>
                </div>
                <hr>
                <h3>Avaliação e Observações Adicionais</h3>
                <div class="sub-bloco-avaliacao">
                    <div class="avaliacao-box">
                        <label for="avaliacao">Avaliação:</label>
                        <textarea style="resize: none;" id="avaliacao" name="avaliacao_observacoes" rows="4"></textarea>
                    </div>
                    <div class="observacoes-box">
                        <label for="observacoes">Observações:</label>
                        <textarea style="resize: none;" id="observacoes" name="observacoes" rows="4"></textarea>
                    </div>
                </div>
                <hr>
                <div class="semestre">
                    <label for="evento">Eventos extraordinários:</label>
                    <select id="evento" name="eventos_extraordinarios">
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </div>
                <br>
                <div class="button">
                    <button type="submit"  style="width: 200px; margin-right: 10px;">Enviar</button>
                    <button type="button" onclick="history.back()" class="button-cancelar" style="width: 200px; background-color: red;  ">Cancelar</button>
                </div>

                
            </div>
        </form>
    </div>

    <footer>
        <div class="container-footer">
            <p>© 2024 PlanLab. Todos os direitos reservados.</p>
            <p>Contato: <a href="mailto:info@planlab.com">info@planlab.com</a> | Telefone: +55 123 456 7890</p>
            <div class="social-icons">
                <!-- Adicione os ícones das redes sociais aqui -->
                <a href="#"><img src="static/img/SimpleIconsFacebook.png" alt="Facebook"></a>
                <a href="#"><img src="static/img/SimpleIconsInstagram.png" alt="Instagram"></a>
                <a href="#"><img src="static/img/LogosGithubIcon.png" alt="Github"></a>
            </div>
        </div>
    </footer>
</body>
</html>
